<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'event/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>新規イベントの作成</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">保存</button>
        </form>
        <a href="{% url 'event_index' %}">トップページへ戻る</a>
    </div>
</body>
</html>
